{% extends 'template.twig' %}

{% block content %}
<h1>Set up Settings</h1>
{% if wasSaved %}
  <div>We saved your entry. Thanks, now just wait to see it happen. <br>
  If you want to stop this effect from happening. Please go to <a href="https://twitter.com/settings/applications">https://twitter.com/settings/applications</a> <br>
and remove this application from your account.</div>
{% endif %}
<form method="POST">
  <label for="lastfmname">Last.fm Username</label>
  <input type="text" id="lastfmname" name="lastfmname" value="{{ setting.lastfmname }}" placeholder="Last FM Username">
  <label for="twittertext">
    The template to use for your twitter name.<br>
    Ex: <span class="code">"Doug 🎵 {{'{{'}}artist{{'}}'}} - {{'{{'}}track{{'}}'}}"</span>
  </label>
  <input type="text" id="twittertext"  name="twittertext" value="{{ setting.twittertext }}" placeholder="Twitter Name Template">


  {#<input type="checkbox" name="goBackToDefault" value="goBackToDefault"> If 30 minutes have passed after changing username go back to default Twittername<br>
  <label for="default">The first part of the username when NOT playing music</label>
  <input type="text" id="defaulttwittertext"  name="defaulttwittertext" value="{{ setting.twittertext }}" placeholder="Text before the songinformation"> #}


  <input type="submit" name="" value="Save">
</form>

{% endblock %}
